In [9]:
from __future__ import print_function, division, absolute_import
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
loans = pd.read_csv('lending-club-data.csv', index_col=False)

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122607 entries, 0 to 122606
Data columns (total 68 columns):
id                             122607 non-null int64
member_id                      122607 non-null int64
loan_amnt                      122607 non-null int64
funded_amnt                    122607 non-null int64
funded_amnt_inv                122607 non-null int64
term                           122607 non-null object
int_rate                       122607 non-null float64
installment                    122607 non-null float64
grade                          122607 non-null object
sub_grade                      122607 non-null object
emp_title                      115770 non-null object
emp_length                     122607 non-null object
home_ownership                 122607 non-null object
annual_inc                     122603 non-null float64
is_inc_v                       122607 non-null object
issue_d                        122607 non-null object
loan_status                    122607 non-null object
pymnt_plan                     122607 non-null object
url                            122607 non-null object
desc                           60706 non-null object
purpose                        122607 non-null object
title                          122597 non-null object
zip_code                       122607 non-null object
addr_state                     122607 non-null object
dti                            122607 non-null float64
delinq_2yrs                    122578 non-null float64
earliest_cr_line               122578 non-null object
inq_last_6mths                 122578 non-null float64
mths_since_last_delinq         50500 non-null float64
mths_since_last_record         12531 non-null float64
open_acc                       122578 non-null float64
pub_rec                        122578 non-null float64
revol_bal                      122607 non-null int64
revol_util                     122607 non-null float64
total_acc                      122578 non-null float64
initial_list_status            122607 non-null object
out_prncp                      122607 non-null float64
out_prncp_inv                  122607 non-null float64
total_pymnt                    122607 non-null float64
total_pymnt_inv                122607 non-null float64
total_rec_prncp                122607 non-null float64
total_rec_int                  122607 non-null float64
total_rec_late_fee             122607 non-null float64
recoveries                     122607 non-null float64
collection_recovery_fee        122607 non-null float64
last_pymnt_d                   122271 non-null object
last_pymnt_amnt                122607 non-null float64
next_pymnt_d                   2907 non-null object
last_credit_pull_d             122601 non-null object
collections_12_mths_ex_med     122462 non-null float64
mths_since_last_major_derog    15460 non-null float64
policy_code                    122607 non-null int64
not_compliant                  122607 non-null int64
status                         122607 non-null object
inactive_loans                 122607 non-null int64
bad_loans                      122607 non-null int64
emp_length_num                 122607 non-null int64
grade_num                      122607 non-null int64
sub_grade_num                  122607 non-null float64
delinq_2yrs_zero               122578 non-null float64
pub_rec_zero                   122578 non-null float64
collections_12_mths_zero       122462 non-null float64
short_emp                      122607 non-null int64
payment_inc_ratio              122603 non-null float64
final_d                        122607 non-null object
last_delinq_none               122607 non-null int64
last_record_none               122607 non-null int64
last_major_derog_none          122607 non-null int64
dtypes: float64(29), int64(16), object(23)
memory usage: 64.5+ MB

In [7]:
np.unique(loans.bad_loans)

array([0, 1], dtype=int64)

In [4]:
print("percebtage safe loans %f" %(loans[loans.bad_loans ==1].shape[0]/loans.shape[0]))
print("percebtage risky loans %f" %(loans[loans.bad_loans ==0].shape[0]/loans.shape[0]))

percebtage safe loans 0.188815
percebtage risky loans 0.811185

In [5]:
feature =['grade',
         'sub_grade',
         'short_emp',
         'emp_length_num',
         'home_ownership',
         'dti',
         'purpose',
         'term',
         'last_delinq_none',
         'last_major_derog_none',
         'revol_util',
         'total_rec_late_fee']

target ='bad_loans'

In [6]:
loans = loans[feature +[target]]

In [7]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122607 entries, 0 to 122606
Data columns (total 13 columns):
grade                    122607 non-null object
sub_grade                122607 non-null object
short_emp                122607 non-null int64
emp_length_num           122607 non-null int64
home_ownership           122607 non-null object
dti                      122607 non-null float64
purpose                  122607 non-null object
term                     122607 non-null object
last_delinq_none         122607 non-null int64
last_major_derog_none    122607 non-null int64
revol_util               122607 non-null float64
total_rec_late_fee       122607 non-null float64
bad_loans                122607 non-null int64
dtypes: float64(3), int64(5), object(5)
memory usage: 13.1+ MB

In [32]:
train_ix = pd.read_json('module-5-assignment-1-train-idx.json')[0].values
valid_ix = pd.read_json('module-5-assignment-1-validation-idx.json')[0].values

In [11]:
loans.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,bad_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.7,0.00,0
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.00,1
2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.5,0.00,0
3,C,C1,0,11,RENT,20.00,other,36 months,0,1,21.0,16.97,0
4,A,A4,0,4,RENT,11.20,wedding,36 months,1,1,28.3,0.00,0

In [13]:
## Label Encoding those features of whcih dtype is 'object'
label_encoder_class = {}
for l in loans:
    if loans[l].dtype.name == "object":
        le = LabelEncoder()
        loans[l] = le.fit_transform(loans[l])
        label_encoder_class[l] = le.classes_

In [14]:
loans.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,bad_loans
0,1,6,0,11,3,27.65,1,0,1,1,83.7,0.00,0
1,2,13,1,1,3,1.00,0,1,1,1,9.4,0.00,1
2,2,14,0,11,3,8.72,9,0,1,1,98.5,0.00,0
3,2,10,0,11,3,20.00,8,0,0,1,21.0,16.97,0
4,0,3,0,4,3,11.20,11,0,1,1,28.3,0.00,0

In [18]:
label_encoder_class['home_ownership']

array(['MORTGAGE', 'OTHER', 'OWN', 'RENT'], dtype=object)

In [23]:
np.unique(loans.dti)

array([  0.00000000e+00,   1.00000000e-02,   2.00000000e-02, ...,
         3.95500000e+01,   3.97500000e+01,   3.98800000e+01])

In [24]:
x = loans[feature]
y = loans[target]

In [25]:
categorical_feature = [0,1,2,4,6,7,8,9]

In [26]:
one = OneHotEncoder(categorical_features=categorical_feature, sparse=False)
x_one_hot_encoded = one.fit_transform(x)

In [40]:
train_x = x_one_hot_encoded[train_ix]
train_y = y[train_ix]

In [41]:
valid_x = x_one_hot_encoded[valid_ix]
valid_y = y[valid_x]